body{
    background-color:#FEF1E4;
}

/*Font Styling*/
h1{
    font-family: 'Abril Fatface', cursive;
	color: #14A2B8;
}

h2{
    font-family: 'Pinyon Script', cursive;
}

p{
    font-size: 16;
}

/* Nav Bar Styling*/
.navbar-brand{
    font-family: 'Open Sans', sans-serif;
}

/* Button + Links Styling */
.btn{
	border-width: 3px;
}

a:visited{
	color: #000000
	font-weight: bold;

}

/* Sub Page Formatting*/
.page-content{
    text-align: center;
}


/* Footer Styling */


.bottom_border { 
	border-bottom:1px solid #db1102; 
	padding-bottom:20px;
}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { 
	display:inline;

}
.foote_bottom_ul_amrc li a { 
	color:#000000; 
	margin:0 12px;
}

.social_footer_ul { 
	display:table; 
	margin:15px auto 0 auto; 
	list-style-type:none;  
}
.social_footer_ul li { 
	padding-left:20px; 
	padding-top:10px; 
	float:left; 
}