body{
    background-color:#FEF1E4;
	height: 100vh;
	
	
}

/*Font Styling*/
h1{
    font-family: 'Abril Fatface', cursive;
	color: #a44a3f;
}

h2{
    font-family: 'Abril Fatface', cursive;
}

p{
    font-size: 16;
}

/* Nav Bar Styling*/
.navbar-brand{
    font-family: 'Open Sans', sans-serif;
}

/* Button + Links Styling */
.btn{
	border-width: 3px;
    background-color:#FEF1E4;
	border-color:#68a691;

}

.btn:hover{
	background: #FEF1E4;
	border-color: #68a691;
    background-color: #68a691;
	color: #68a691;
}

a:visited{
	color: #000000;
	font-weight: bold;
}

/* Badge Section Styling */
#badge{
	height: 250px;
	text-align: center;
	background-color:#68a691;
    color:#FEF1E4;

/* Rachel Section Styling*/

.category-link{
		color: #FEF1E4; 
	}

.category-link:a:visited{
		color: #FEF1E4;

	}
/* Spacing between sections */
.top-buffer{
	margin-top: 30px;
}

/* Footer Styling */

.footer {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #a44a3f;
}

.bottom_border { 
	padding-bottom:20px;
}

.links {
	text-decoration: none;
	padding: 0px;
	display: table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.links li { 
	display: inline;

}

.links li a { 
	color:#000000; 
	margin:0 12px;
}

.social-links { 
	display:table; 
	margin:15px auto 0 auto; 
	list-style-type: none;  
}

.social-links li { 
	padding-left: 20px; 
	padding-top: 10px; 
	float: left; 
}